*.idea
*.iml
wallbase-common/target/
wallbase-gateway/target/
wallbase-mapper/target/
wallbase-service/target/
wallbase-tractor/target/
wallbase-web-manager/target/
wallbase-web/target/
wallbase-web/src/main/resources/node_modules/
wallbase-web/src/main/resources/static/build*/
